h1 {
  font-size: 50px;
  font-family: "Roboto";
  font-weight:900;

}

.logoimage {
  width: 100px;
  opacity: 1.5
}

.linkseffects {
  font-size: 25px;
  font-family:"Amiko";
}

.body2 {
  background-image: url("https://i.imgur.com/ihSfH75.png");
  opacity: 0.75;
  margin-top: 20px;
}
body {
    background-image: linear-gradient(rgba(221, 255, 221, 0.7), rgba(221, 255, 121, 0.7)) ,url('https://i.imgur.com/lLbmPAM.jpg') !important;
/*    background-image: linear-gradient(rgba(221, 255, 221, 1), rgba(27, 122, 20, 0.8)),url('../img/food.jpg') !important;*/
  background-color: black;
  position:relative;
  width:100%;
  text-align:center
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
      margin: 0;
}
