h1 {
  font-size: 50px;
  font-family: "Roboto";
  font-weight:900;

}

.logoimage {
  width: 100px;
  opacity: 1.5
}

.linkseffects {
  font-size: 25px;
  font-family:"Amiko";
}
.main {
  background-image: url("https://i.imgur.com/ihSfH75.png");
  opacity: 0.75

}
body {
  background-image: url("https://i.imgur.com/lLbmPAM.jpg");
  background-size: cover;
}
