td {
	padding: 20px;
}

body {
	display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: sans-serif;
}

.navbar {
	background-color: #293a46;
}
.navbar-text {
	color: white;
}
.navbar-content {
	padding-top: 20px;
    padding-left: 20px;
}

.main {
	/*padding: 40px;*/
	padding-top: 0px;
}
table, td {
	background-color: lightgrey;
	border: 1px solid grey;
}

h4 {
	background-color: #519687;
	padding: 17px;
    margin: 0;
    color: white;
}

.content {
	padding: 20px;
}