td {
	padding: 20px;
}

body {
	display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1000px 1fr;
    margin-bottom: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: sans-serif;
}

.navbar {
	background-color: #293a46;
}
.navbar-text {
	color: white;
}
.navbar-content {
	padding-top: 20px;
    padding-left: 20px;
}

.main {
	/*padding: 40px;*/
	padding-top: 0px;
}
table, td {
	background-color: lightgrey;
	border: 1px solid grey;
}

table {
    width: 100%
}

h4 {
	background-color: #519687;
	padding: 17px;
    margin: 0;
    color: white;
}

.content {
	padding: 20px;
}

form {
	padding: 20px;
}

form > .container {
	padding: 10px;
	border: 0.01em solid grey;
}

.projected-date {
	color: #519687;
	padding-left: 20px;
	font-weight: bold;
	margin-bottom: 0;
}

form > .container > input[type="text"],input[type="date"] {
	background-color: lightgrey;
    /* background-color: white; */
    height: 30px;
    font-family: sans-serif;
}

form > .container > input[type="text"] {
	width: 75%;
}
form > .container > input[type="date"] {
	width: 20%;
}
form > .container > input[type="submit"] {
	background: #293a46;
	color: white;
	border-style: outset;
	border-color: #293a46;
	height: 40px;
	width: 98%;
	font: bold 15px arial, sans-serif;
	text-shadow:none;
	margin-top: 10px;
	transition: all .35s;
}
form > .container > input[type="submit"]:hover {
	background: #172a38;
	border-color: #172a38;
	color: white;
}
